body {
    position: relative;
    overflow: hidden;
}

a {
    text-decoration: none;
}

div[class^="page-"] {
    height: 100vh;
}

body>.box {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    transition: all 0.3s linear;
}

body>.box>nav {
    position: fixed;
    top: 20px;
    right: 30px;
}

body>.box>nav li {
    display: inline-block;
    margin: 10px;
    transition: all 0.3s linear;
}

body>.box>nav li a {
    color: #2C3A47;
    transition: all 0.3s linear;
}

body>.box>nav li:hover {
    transform: scale(1.1);
}

body>.box>nav li:hover a {
    color: #FC427B;
}

.page-personal {
    background: #58B19F;
}

.page-skill {
    background: #182C61;
}

.page-work {
    background: #2C3A47;
}

.page-project {
    background: #1B9CFC;
}

.page-education {
    background: #BDC581;
}

.page-evaluation {
    background: #CAD3C8;
}